%meta{:content => "yes", :name => "mobile-web-app-capable"}/
%meta{:content => "#ffffff", :name => "theme-color"}/
%meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
%meta{:content => "translucent-black", :name => "apple-mobile-web-app-status-bar-style"}/
%meta{:content => "Monologue", :name => "apple-mobile-web-app-title"}/
%meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
%meta{:content => "/ms-icon-144x144.png", :name => "msapplication-TileImage"}/
