<table class="table">
  <thead>
    <tr>
      <th><%= title %></th>
      <th><%= t '.assignee' %></th>
    </tr>
  </thead>

  <tbody>
    <% issues.each do |issue| %>
      <tr>
        <td><%= issue.title %></td>
        <td><%= issue.assignee.login %></td>
      </tr>
    <% end %>
  </tbody>
</table>
