= simple_form_for issues_search, url: request.original_url, method: :get, html: {class: "form-inline"} do |f|
  = f.error_notification

  = f.input :since, as: :date, html5: true

  = f.button :submit, "Search", class: "btn-default"
