<p class="pull-request-action-<%= github_event.payload.action.underscore.dasherize %>">
  <%= github_event.payload.action.titlecase %> pull request <var><%= github_event.payload.pull_request.title %></var> on <var><%= github_event.repo.name %></var>
</p>
