<p class="event-push">
  Pushed to <var><%= github_event.payload.ref %></var> on <var><%= github_event.repo.name %></var>
</p>

<ul>
  <% github_event.payload.commits.each do |commit| %>
    <li>
      <%= commit.message %>
    </li>
  <% end %>
</ul>
