<h1>Listing Github</h1>


<dl>
  <% @github_events.each do |github_event| %>
    <dt>
      <%= github_event.type %>
    </dt>
    <dd>
      <% if lookup_context.template_exists?(github_event.type.downcase, "github_events", true) %>
        <%= render partial: "#{ github_event.type.downcase }" %>
      <% else %>
        <pre>
          <%= github_event.inspect %>
        </pre>
      <% end %>
    </dd>
  <% end %>
</dl>
